/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULL SCREEN BODY */
body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* FULLSCREEN CONTAINER */
.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    color: #222;
    overflow-y: auto;
}

/* DARK MODE */
body.dark {
    background: linear-gradient(135deg, #101010, #000);
}

body.dark .container {
    background: rgba(255,255,255,0.1);
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#darkToggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* INPUTS */
.task-input input,
.task-input textarea,
.task-input select {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background: rgba(255,255,255,0.7);
    border: none;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
}

.task-input textarea {
    height: 80px;
}

#addBtn {
    width: 100%;
    padding: 14px;
    background: #0610d7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-top: 8px;
    font-size: 16px;
}

#addBtn:hover {
    background: #0610d7;
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255,255,255,0.85);
    padding: 15px;
    border-radius: 12px;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

body.dark li {
    background: rgba(255,255,255,0.1);
}

/* TEXT */
.task-title {
    font-weight: bold;
    font-size: 17px;
}

.task-desc {
    font-size: 14px;
    color: #444;
}

/* CATEGORY TAG */
.tag {
    display: inline-block;
    background: #3949ab;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-top: 6px;
}

/* BUTTONS */
.action-buttons button {
    padding: 7px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #ddd;
}

.action-buttons button:hover {
    background: #ccc;
}

/* MOBILE */
@media (max-width: 480px) {

    h1 {
        font-size: 22px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    .action-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #addBtn {
        padding: 12px;
        font-size: 14px;
    }
}
